*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;


}
.container{
    width:100% ;
    height: 100vh;
    background-image: url(pexels-rdne-8069377.jpg);
    flex: 1;
    text-align: left;
   


}

  
.navbar{
    height:12% ;
   display:flex ;
    align-items: center;
    
}
.logo{
    width:50px;
    cursor: pointer;
    margin: left 40px; 
    position: relative;
}

.menu{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;


}
nav ul li{
     list-style: none;
     display:inline-block;
     margin-left: 60px;
     border: #000;
     font-size: 15px;
     font-weight: bold;
     text-transform: capitalize;
}

nav ul li a{
    text-decoration:none ;
    color: #f9004d;
    font-size: 12px;



}
nav ul li a:hover{
    color: #f9004d;
    transition: 4s;
}
.row{
    display: flex;
    height: 80%;
    align-items: center;
}
.col{
    flex-basis: 50%;



}
h1{color:whitesmoke;
    font-size: 100px;

}
p{
    color:#fff ;
    font-size: 11px;
    list-style: 15px;  
}
button{
    background-color: #f9004d;
    border: none;
    height: 36px;

}
.card{ width:200px;
       height: 230px;
       display: inline-block;
       border-radius: 10px;
       padding: 15px 25px;
       box-sizing: border-box;
       cursor:pointer;
       margin:10px 15px ;
       background-image: url(images/london.jpg);
       background-position: center;
       background-size: cover;
       transition:transform 0.5s ;
       text-align: left;
}
.card1{background-image: url(house2.jpg);
}
.card2{background-image: url(house4.jpg);
}
.card3{background-image: url(house5.jpg);
}
.card4{background-image: url(livingroom.jpg);
}

.card:hover{
    transform: translateY(-10PX);


}
h5{
    color:#fff;
    text-shadow: 0 0 5px #999;

}
.card p{

    font-size: 8px; 
    text-shadow: 0 0 15px #999
    ;
}

